  /* Style questionário Mobile */
  @media(min-width:769px) {
    .questionario_mobile {
        display: none
    }
}
.questionario_mobile img {
    width: 45px;
}
.questionario_mobile img {
    right: 7px;
    position: absolute;
    bottom: 100px;
}

.questionario_mobile {
    position: absolute;
    bottom: 160px;
    right: 0;
    z-index: 999999;
}

#balao {
    margin: 0 auto;
    background: #ff0000;
    font-family: inherit;
    font-size: 0.85em;
    line-height: 1.2em;
    border-radius: 15px;
    width: 110px;
    height: auto;
    color: black;
    padding: 4px;
    position: relative;
    margin-top: 10px;
}

#balao:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #ff0000;
    top: -12px;
    left: 50%;
}
/* Style informações */
.btn-primary {
    margin-left: 4px;
    color: white;
    font-size: inherit;
    font-weight: bold;
    background-color: #ff0000!important;
    border-color: #ff0000!important;
    margin-top: 4px;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(3, 3, 3, 0.3);
    FONT-SIZE: 20PX;
    position: fixed;
    z-index: 99999;
    width: 170px;
    height: 40px;
    font-family: inherit;
}

.btn-primary:hover {
    color: white;
    background-color: #ff0000;
    border-color: #ff0000;
    opacity: 0.8;
}

.informacoes p {
    text-align: center;
    padding: 4px;
    line-height: 1.3;
    font-size: 17px;
}
.modal-title img {
    width: 30px;
    padding-right: 0px;
    margin-right: 22px;
}
.modal-header {
    background: red;
    color: white;
}
.modal-header h5 {
    font-size: 25px;
}
.modal-body {
    font-size: 15px;
}
.modal-content span {
    color: black;
}
.modal-content {
    top: 120px;
}



/* Style Questionário */
#questionario {
    float: right;
    display: none;
}
#questionario button {
    right: 4px;
    top: 4px;
    background: red;
    border-radius: 3px;
    width: 170px;
    height: 40px;
    z-index: 99999;
    position: relative;
    border: 1px solid transparent;
    box-shadow: 0 2px 4px 0 rgba(3, 3, 3, 0.3);
    margin-left: 4;
}

#questionario button:hover {
    cursor: pointer;
}

#conteudo {
    float: right;
    position: absolute;
    right: 4px;
    top: 42px;
    background: whitesmoke;
    width: 170px;
    box-shadow: 0 4px 9px 0 rgba(3, 3, 3, 0.3);
    z-index: 9999;
}

img#close {
    width: 12px;
    height: 12px;
    margin-left: 17px;
    margin-top: 2px;
}
#conteudo p {
    text-align: center;
    padding: 4px;
    line-height: 1.3;
    font-size: 17px;
}

#conteudo a {
    justify-content: center;
    display: flex;
    margin-bottom: 10px;
}


@media (max-width: 768px){
#conteudo {
    display: none!important;
}
}

@media(max-width:768px) {
    .questionario #botao {
        display: none;
    }
}

@media(max-width:768px) {
    #conteudo {
        display: none;
    }
}

#questionario h3 {
    font-size: 21px;
    color: white;
    font-family: inherit;
    font-weight: 100;
    margin: auto;
 
}

.informacoes h3 {
    font-size: 21px;
    color: white;
    font-family: inherit;
    font-weight: 100;
}
body {
    margin: 0px;
  }
  #mapid {
    width: 100%;
    height: 658px;
    border: none;
  }