  /* Style questionário Mobile */
.questionario_mobile img {
    width: 65px;
}
.questionario_mobile img {
    right: 25px;
    position: absolute;
    bottom: -140px;
}
#executar_questionario img{
    right: 25px;
    position: absolute;
    bottom: -140px;
    width: 65px;
}
#executar_questionario{
    position: absolute;
    bottom: 160px;
    right: 0;
    z-index: 999999;
    display: none;
}
.informacoes h3 {
    font-size: 25px;
    font-weight: 400;
    margin-top: -3px!important;
}


.questionario_mobile {
    position: absolute;
    bottom: 160px;
    right: 0;
    z-index: 999999;

}
#balao {
    margin: 0 auto;
    background: #ffffff;
    font-family: inherit;
    font-size: 0.85em;
    line-height: 1.2em;
    border-radius: 9px;
    width: 185px;
    height: auto;
    color: black;
    padding: 4px;
    position: relative;
    bottom: -60px;
    box-shadow: 0 2px 4px rgba(3, 3, 3, 0.3);
}
#balao_questionario{
    margin: 0 auto;
    background: #ffffff;
    font-family: inherit;
    font-size: 0.85em;
    line-height: 1.2em;
    border-radius: 9px;
    width: 185px;
    height: auto;
    color: black;
    padding: 4px;
    position: relative;
    bottom: -60px;
    box-shadow: 0 2px 4px rgba(3, 3, 3, 0.3);
    display: none;
}


#balao:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 0px solid #ff0000;
    border-top: 20px solid white;
    top: 50px;
    left: 59%;
}
#balao_questionario:after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 0px solid #ff0000;
    border-top: 20px solid white;
    top: 50px;
    left: 59%;
}

/* Style informações */
.btn-primary {
    margin-left: 4px;
    background-color: #ff0000!important;
    border-color: #ff0000!important;
    box-shadow: 0 2px 4px 0 rgba(3, 3, 3, 0.3);
    position: fixed;
    z-index: 99999;
    width: 170px;
    height: 40px;
    font-family: inherit;
    margin-top: 4px;
}

.btn-primary:hover {
    color: white;
    background-color: #ff0000;
    border-color: #ff0000;
    opacity: 0.8;
}

.informacoes p {
    text-align: center;
    padding: 4px;
    line-height: 1.3;
    font-size: 17px;
}
.modal-title img {
    width: 30px;
    padding-right: 0px;
    margin-right: 22px;
}
.modal-header {
    background: red;
    color: white;
}
.modal-header h5 {
    font-size: 25px;
}
.modal-body {
    font-size: 15px;
}
.modal-content span {
    color: black;
}
.modal-content {
    top: 120px;
}

body {
    margin: 0px;
  }
  #mapid {
    width: 100%;
    height: 100vh;
    border: none;
  }
  .modal-title {
    margin-bottom: 0;
    line-height: 0;
}