  /* Style questionário Mobile */
.questionario_mobile img {
    right: 25px;
    position: absolute;
    bottom: -140px;
    width: 65px;
}
@media(max-width: 768px){
.questionario_mobile img {
right: 5px;
position: absolute;
bottom: -145px;
width: 50px;
}
}
@media(max-width: 768px){
#executar_questionario img{
    right: 5px!important;
    position: absolute;
    bottom: -145px!important;
    width: 50px!important;
}
}
#executar_questionario img{
    right: 25px;
    position: absolute;
    bottom: -140px;
    width: 65px;
}
#executar_questionario{
    position: absolute;
    bottom: 160px;
    right: 0;
    z-index: 999999;
    display: none;
}
.informacoes h3 {
    font-size: 25px;
    font-weight: 400;
    margin-top: -3px!important;
}
.informacoes h6 {
    font-size: 18px;
}
@media(max-width: 768px){
    .informacoes h3{
    font-size: 20px!important;
    }

}

.questionario_mobile {
    position: absolute;
    bottom: 160px;
    right: 0;
    z-index: 999999;

}
#balao {
    margin: 0 auto;
    background: #ffffff;
    font-family: inherit;
    font-size: 18px;
    line-height: 1.2em;
    border-radius: 9px;
    width: 250px;
    height: auto;
    color: black;
    padding: 4px;
    position: relative;
    bottom: -50px;
    box-shadow: 0 2px 4px rgba(3, 3, 3, 0.3);
    right: 2px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 3px;
    font-weight: 600;
}
@media(max-width: 768px){
#balao {
    margin: 0 auto;
    background: #ffffff;
    font-family: inherit;
    font-size: 14px;
    line-height: 1.2em;
    border-radius: 9px;
    width: 128px;
    height: auto;
    color: black;
    padding: 4px;
    position: relative;
    bottom: -74px;
    box-shadow: 0 2px 4px rgba(3, 3, 3, 0.3);
}
}

@media(max-width: 768px){
    #balao_questionario {
        font-size: 14px!important;
        width: 143px!important;
        bottom: -74px!important;
        right: 2px!important;
    }
}
#balao_questionario{
    margin: 0 auto;
    background: #ffffff;
    font-family: inherit;
    font-size: 18px;
    line-height: 1.2em;
    border-radius: 9px;
    width: 250px;
    height: auto;
    color: black;
    position: relative;
    bottom: -50px;
    box-shadow: 0 2px 4px rgba(3, 3, 3, 0.3);
    display: none;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 3px;
    font-weight: 600;
  
}


#balao:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 0px solid #ff0000;
    border-top: 20px solid white;
    top: 88px;
    left: 70%;
}
@media (max-width: 768px){
#balao:after {
    top: 86px!important;
    left: 62%;
}
}
@media (max-width: 768px){
    #balao_questionario:after {
        top: 103px!important;
        left: 63%!important;          
    }
    }
#balao_questionario:after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 0px solid #ff0000;
    border-top: 20px solid white;
    top: 106px;
    left: 70%;
}
@media(min-width: 769px){
    #balao_questionario p {
        padding-left: 10px;
        padding-right: 10px;
    }
    }
    @media(max-width: 769px){
    #balao_questionario p {
        padding-left: 4px;
        padding-right: 4px;
    }
    }
    @media(max-width: 768px){
        #balao p {
            margin-bottom: 5px;
        }
        }    

/* Style informações */
.btn-primary {
    margin-left: 4px;
    background-color: #ff0000!important;
    border-color: #ff0000!important;
    box-shadow: 0 2px 4px 0 rgba(3, 3, 3, 0.3);
    position: fixed;
    z-index: 99999;
    width: 170px;
    height: 40px;
    font-family: inherit;
    margin-top: 7px;
    margin-left: 7px;
}
@media(max-width: 768px){
.btn-primary {
width: 135px!important;
height: 35px!important;
}
}

.btn-primary:hover {
    color: white;
    background-color: #ff0000;
    border-color: #ff0000;
    opacity: 0.8;
}

.informacoes p {
   line-height: 1.3;
    font-size: 17px;
}
.modal-title img {
    width: 30px;
    padding-right: 0px;
    margin-right: 22px;
}
.modal-header {
    background: red;
    color: white;
    height: 65px;
}
.modal-header h5 {
    font-size: 25px;
    margin-top: -6px;
}
@media (min-width: 576px){
.modal-dialog {
    max-width: 641px!important;
    margin: 1.75rem auto;
}
}
.modal-body li {
    line-height: 1.3;
    font-size: 17px;
}
.modal-body {
    font-size: 15px;
}
.modal-content span {
    color: black;
}
.modal-content {
    top: 120px;
}

body {
    margin: 0px;
  }
  #mapid {
    width: 100%;
    height: 100vh;
    border: none;
  }
  .modal-title {
    margin-bottom: 0;
    line-height: 0;
}
.modal-content {
    top: 0px!important;
}
.modal-header {
    top: 0px;
    position: sticky!important;
    z-index: 999;
}