  /* Style questionário Mobile */

@media(max-width: 768px){
#executar_questionario img{
    right: 5px!important;
    position: absolute;
    bottom: -145px!important;
    width: 50px!important;
}
}
#executar_questionario img{
    right: 25px;
    position: absolute;
    bottom: -140px;
    width: 65px;
}
#executar_questionario{
    display: none;
    position: absolute;
    bottom: 160px;
    right: 0;
    z-index: 999999;
   
}
.informacoes h3 {
    font-size: 25px;
    font-weight: 400;
    margin-top: -3px!important;
}
.informacoes h6 {
    font-size: 18px;
}
@media(max-width: 768px){
    .informacoes h3{
    font-size: 20px!important;
    }

}


@media(max-width: 768px){
    #balao_questionario {
        font-size: 14px!important;
        width: 143px!important;
        bottom: -74px!important;
        right: 2px!important;
    }
}
#balao_questionario{
    margin: 0 auto;
    background: #ffffff;
    font-family: inherit;
    font-size: 18px;
    line-height: 1.2em;
    border-radius: 9px;
    width: 250px;
    height: auto;
    color: black;
    position: relative;
    bottom: -50px;
    box-shadow: 0 2px 4px rgba(3, 3, 3, 0.3);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 3px;
    font-weight: 600;
    -webkit-transition: opacity 300ms, visibility 300ms;
    transition: opacity 300ms, visibility 300ms;
}

@media (max-width: 768px){
    #balao_questionario:after {
        top: 103px!important;
        left: 63%!important;          
    }
    }
#balao_questionario:after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 0px solid #ff0000;
    border-top: 20px solid white;
    top: 106px;
    left: 70%;
}
@media(min-width: 769px){
    #balao_questionario p {
        padding-left: 10px;
        padding-right: 10px;
    }
    }
    @media(max-width: 769px){
    #balao_questionario p {
        padding-left: 4px;
        padding-right: 4px;
    }
    }


/* Style informações */
.btn-primary {
    margin-left: 4px;
    background-image: linear-gradient(red, #e00000);
    border-color: #ff0000!important;
    box-shadow: 0 4px 4px 0 rgba(3, 3, 3, 0.3);
    position: fixed;
    z-index: 99999;
    width: 170px;
    height: 40px;
    font-family: inherit;
    margin-top: 7px;
    margin-left: 7px;
}
@media(max-width: 768px){
.btn-primary {
width: 135px!important;
height: 35px!important;
position: fixed;
}
}

.btn-primary:hover {
    color: white;
    background-color: #ff0000;
    border-color: #ff0000;
    opacity: 0.8;
}

.informacoes p {
   line-height: 1.3;
    font-size: 17px;
}
.modal-title img {
    width: 30px;
    padding-right: 0px;
    margin-right: 22px;
}
.modal-header {
    background: red;
    color: white;
    height: 65px;
}
.modal-header h5 {
    font-size: 25px;
    margin-top: -6px;
}
@media (min-width: 576px){
.modal-dialog {
    max-width: 641px!important;
    margin: 1.75rem auto;
}
}
.modal-body li {
    line-height: 1.3;
    font-size: 17px;
}
.modal-body {
    font-size: 15px;
}
.modal-content span {
    color: black;
}
.modal-content {
    top: 120px;
}

body {
    margin: 0px;
    overflow: hidden;
  }
  #mapid {
    width: 100%;
    height: 100vh;
    border: none;
  }
  .modal-title {
    margin-bottom: 0;
    line-height: 0;
}
.modal-content {
    top: 0px!important;
}
.modal-header {
    top: 0px;
    position: sticky!important;
    z-index: 999;
}

button#button_informacao {
    display: none;
}

/* Modal selecionar o tipo sanguineo */
.modal_selecione {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    overflow: hidden;
    outline: 0;
}
.modal-header_selecione {
    background: red;
    color: white;
    height: 65px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.tipo_sanguino {
    max-width: 800px;
    width: 100%;
    background: red;
    margin: auto;
    border-radius: 25px;
   
}
    #botao img{
        width: 40px;
    }
    .modal_selecione #botao {
        opacity: 1!important;
        background-image: linear-gradient(#ffffff, #c7c7c7);
        font-size: 25px;
        width: 115px;
        margin: 30px;
        border-radius: 12px;
        border: none;
        cursor: pointer;
        outline: inherit;
        box-shadow: 0 3px 4px 0 rgba(3, 3, 3, 0.3);
}
.modal_selecione #botao:hover {
    opacity: 0.9;
    background: #ffffff;
}
.tipo_sanguino h2 {
    text-align: center;
    padding-top: 20px;
    color: white;
    font-size: 30px;
}
div#container {
    text-align: center;
}
div#container_secundario {
    text-align: center;
}
.tipo_sanguino a {
    justify-content: center;
    display: flex;
     color: white;
    font-size: 20px;
     padding-bottom: 20px;
}
@media (min-width: 576px){
.modal_selecione .modal-dialog {
    max-width: 780px!important;
    margin: 1.75rem auto;
}
}
.modal_selecione h2.modal-title {
    text-align: center;
    padding-top: 10px;
    color: white;
    font-size: 30px;
}
button#button_tipo {
    
    opacity: 1;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-size: 10px;
    justify-content: center!important;
    display: flex!important;
    color: white;
    font-size: 20px;
    padding-bottom: 20px;
    margin: auto;
}
button#button_tipo:hover {
    opacity: 0.8;
}
.modal_selecione .modal-content {
    background: #ffffff00;
    border: none;
}
.modal_selecione .modal-body {
    padding: 0;
    background: red;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* Local é pra colocar a div, mostrarlocal é pra só abrir quando clicar */
@media(max-width: 375px){
    .nivel_sangue img {
        width: 40px!important;
        margin-top: 5px!important;
        margin-left: 10px!important;
        margin-right: 10px!important;
    }
    }
    
    @media (min-width: 376px) and (max-width: 400px){
    .nivel_sangue img {
        width: 45px!important;
        margin-top: 5px!important;
        margin-left: 15px!important;
        margin-right: 15px!important;
    }
    }
    @media(min-width: 0px) and (max-width: 420px){
        h4.modal-title {
            font-size: 14px!important;
        
        }
        }
    @media(min-width: 421px) and (max-width: 500px){
        h4.modal-title {
            font-size: 16px!important;
        
        }
        }
        @media(min-width: 501px) and (max-width: 700px){
            h4.modal-title {
                font-size: 16px!important;
            
            }
            }
            @media(min-width: 701px) and (max-width: 830px){
                h4.modal-title {
                    font-size: 16px!important;
                
                }
                }
     
        div#mostraLocal {
            overflow-x: hidden;
            overflow-y: auto;
        }
        .modal-body .nivel_sangue {
            margin: auto;
        }
        @media(max-width: 767px){
        .modal-body .info {
            margin: auto!important;
        }
    }
        
            
#local {
    z-index: 999999;
}
#mostraLocal {
    display: block
}
@media (min-width: 576px){
#local .modal-dialog {
    max-width: 850px!important;
    width: 100%;
    margin: 1.75rem auto;
}
}
#local .modal-body {
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    background: red;
    padding-bottom: 30px;
}
.modal-body .nivel_sangue {
    background: white;
    max-width: 380px;
    width: 100%;
    height: 340px;
    border-radius: 22px;
}
@media(min-width: 768px){
    #local .container {
        display: flex; 
    
    }
    
    }
    #local .info {
        background: white;
        max-width: 380px;
        width: 100%;
        height: 340px;
        border-radius: 22px;
        margin-left: 24px;
        text-align: left;
    }
    #local .modal-header {
        border-top-left-radius: 22px;
        border-top-right-radius: 22px;
        border-bottom: none;
    }
    #local .modal-content {
        background: #00008b00;
        border: none;
    }
    #local .titulo h4 {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 1px;
    }
    .nivel_sangue img {
        width: 50px;
        margin-top: 5px;
        margin-left: 21px;
        margin-right: 21px;
    }
    .container_img {
        display: flex;
        justify-content: center;
    }
    .container_imgs {
        display: flex;
        justify-content: center;
    }
    .img01 h6 {
        text-align: center;
        margin-top: 5px;
    }
    .img02 h6 {
        text-align: center;
        margin-top: 5px;
    }
    .img03 h6 {
        text-align: center;
        margin-top: 5px;
    }
    .img04 h6 {
        text-align: center;
        margin-top: 5px;
    }
    .img05 h6 {
        text-align: center;
        margin-top: 5px;
    }
    .img06 h6 {
        text-align: center;
        margin-top: 5px;
    }
    .img07 h6 {
        text-align: center;
        margin-top: 5px;
    }
    .img08 h6 {
        text-align: center;
        margin-top: 5px;
    }
    .img01 h5 {
        text-align: center;
    }
    .img02 h5 {
        text-align: center;
    }
    .img03 h5 {
        text-align: center;
    }
    .img04 h5 {
        text-align: center;
    }
    .img05 h5 {
        text-align: center;
    }
    .img06 h5 {
        text-align: center;
    }
    .img07 h5 {
        text-align: center;
    }
    .img08 h5 {
        text-align: center;
    }
   
    .info p {
        color: white;
        margin-left: 10px;
        line-height: 1.3;
        font-size: 15px;
        font-weight: 400;
        position: absolute;
        bottom: -10px;
    }
    
    .info h6{
        color: red;
        margin-left: 10px;
        margin-top: 15px;
        line-height: 1.5;
        line-height: 1.3;
        font-size: 15px;

    }

    .row .card.card-body {
        position: fixed;
        bottom: 3px;
        z-index: 9999;
        left: 7px;
        padding-left: 5px;
        padding-top: 5px;
        width: 170px;
        padding-bottom: 5px;
        background: white;
        color: black;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
     
}
@media(max-width: 768px){
    .card.card-body {
        width: 135px!important;
    
    }
    }

    @media (max-width: 768px){
        #button_legenda {
            font-size: 20px!important;
        }
        }
        
        
    #button_legenda {
        position: fixed;
        bottom: 12px;
        -webkit-transition: bottom 300ms;
        transition: bottom 150ms;
    }
    #info_legenda h4 {
        font-size: 20px;
        padding-left: 12px;
        padding-top: 4px;
    }
    .critico img {
        width: 25px;
        margin-left: 20px;
    }
    .critico {
        display: flex;
    }
    .alerta img {
        width: 25px;
        margin-left: 24px;
    }
    .alerta {
        display: flex;
    }
    .estavel img {
        width: 25px;
        margin-left: 17px;
    }
    .estavel {
        display: flex;
    }
    #info_legenda img {
        width: 20px;
    }
    .estavel {
        display: flex;
    }
    .Alerta {
        display: flex;
    }
    .critico {
        display: flex;
    }
    button#button_legenda {
        font-size: 25px;
        font-weight: 400;
        padding: 0px;
        padding-bottom: 1px;
    }
    #legenda {
        display: none;
    }

    .close {
      float: none!important;
    }

    #textTipo {
        font-size: 18px;
        text-align: center;
        color: #ffffff;
        font-style: italic;
        margin-bottom: 0px;
    }
    div#mostraLocal {
        background-color: rgba(0,0,0,0.5);
    }
    @media (max-width: 400px){
.modal-body .nivel_sangue {
    height: 310x!important;
}
    }

    @media (max-width: 440px){
    #local .info {
        height: 412px!important;
    }
}

@media (min-width: 0px) and (max-width: 405px){
    .modal_selecione #botao{
            width: 100px;
            margin: 15px;
    }
}
@media(min-width: 406px) and (max-width: 575px){
    .modal_selecione #botao{
            width: 115px;
            margin: 35px;
    }
}
@media(min-width: 576px) and (max-width: 1000px){
    .modal_selecione #botao{
            width: 115px;
            margin: 10px;
    }
}
@media(min-width: 576px){
div#mostraLocal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}
}
#mostraLocal {
    text-align: center;
    padding: 0!important;
}
@media(min-width: 576px){
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
}

div#myModal {
    text-align: center;
    padding: 0!important;
}
@media(min-width: 576px){
div#myModal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}
}
#modalExemplo .modal-dialog {
    display: block!important;
   
}
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 99999;
    cursor: pointer;
    -webkit-transition: opacity 800ms, visibility 800ms;
    transition: opacity 800ms, visibility 800ms;
  }
  @media (max-width: 321px){
  #local .container {
      padding: 0px!important;
  
      width: 107%;
      margin-left: -10px;
    
  }
}

@media (max-width: 768px){
    .nivel_sangue .titulo {
        padding-top: 2px;
    }
}
@media (max-width: 768px){
    .info h6:first-child {
        padding-top: 8px;
      
    }
    }
    
    div#info_legenda {
        margin: auto;
    }

    /* confirmar localização */
    #modal_localizacao {
        z-index: 99999;
        text-align: center;
        -webkit-transition: opacity 300ms, visibility 300ms;
        transition: opacity 300ms, visibility 300ms;
    }
    #texto_navegacao {
        text-align: justify;
        color: white;
        font-size: 20px;
        padding: 30px;
        line-height:
         28px;
        font-weight: 600;
        margin-top: -30px!important;
        margin-bottom: -0.5rem!important;
    }

    .modal-content #button_localizacao {
        display: flex;
        margin: auto;
        border: none;
        width: 140px;
        height: 50px;
        margin-bottom: 20px;
        border-radius: 12px;
        background-image: linear-gradient(#ffffff, #c7c7c7);
        box-shadow: 0 3px 4px 0 rgba(3, 3, 3, 0.3);
        cursor: pointer;
        font-size: 23px;
        color: black;
    }
    .modal-content {
        border-radius: 1.5rem!important;
    }
    #container_selecione {
        opacity: 0;
        visibility: hidden;
        -webkit-transition: opacity 200ms, visibility 200ms;
        transition: opacity 200ms, visibility 200ms;
    }
    #button_localizacao h3 {
        margin: auto;
        FONT-SIZE: 24PX;
    }
    #button_localizacao:hover {
        background: white;
    }
    @media (min-width: 768px) {
        #modal_localizacao:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
      }
    }
    .nivel_sangue p {
        color: black;
        font-size: 10px;
        text-align: center;
        letter-spacing: 0px;
        margin-bottom: 6px;
    }
    @media(min-width: 401px) and (max-width: 768px){
        .modal-body .nivel_sangue {
            margin-bottom: 28px;
        }
        }
        @media(min-width: 1px) and (max-width: 400px){
        .modal-body .nivel_sangue {
            margin-bottom: 42px;
        }
        }
        @media(min-width: 768px) and (max-width: 991px){
            #local .info {
                    height: 420px 
            
            }
            }
            @media(min-width: 768px) and (max-width: 991px){
            .modal-body .nivel_sangue {
                    height: 420px 
            
            }
            }
        